<h1>Contact Us</h1>
<p>
  If you have any questions or would like to find out more about our products,
  please contact us using one of the methods below.
</p>

<div>
  <p><strong>Hours:</strong>Monday - friday, 8:30 Am- 9PM</p>

  <ul>
    <li>
      <p><strong>General Support:</strong>(877) 435-3287</p>
    </li>
    <li>
      <p><strong>Electrolux.com Online Orders:</strong> (833) 840-5925</p>
    </li>
    <li>
      <p>
        <strong>Small Kitchen Appliance, vaccums & Air Cleaners:</strong>(800)
        896-9756
      </p>
    </li>
  </ul>
</div>
